.Bonus {
    color: #c7b8ff;
}

.BreakShot {
    color: #ffb442;
}

.ExtraBall {
    color: #E1DF97;
}

.MakeTheLongOne {
    color: #d1fcff;
}

.PoolBalls {
    color: #A5C9D5;
}

.POOLLetters {
    color: #eefd26;
}

.PopBumpers {
    color: #f9aaf9;
}

.SkillShot {
    color: #33f050;
}

.Special {
    color: #91cfb2;
}

.Spinners {
    color: #ffadaf;
}